<div id="dummymodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background:#5C97BF;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Logg inn med BankID</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h2>BankID</h2>
                    <form>
                        <div class="form-group">
                            <div class="col-xs-2">
                                <label for="ex1">(HINT: 12345)</label>
                                <input class="form-control" id="dummykode" type="text" placeholder="12345">
                                <div id="feilKode" class="text-danger"></div>
                            </div>
                        </div>
                    </form>
                </div>

                
            </div>
            <div class="modal-footer" style="background:#5C97BF;">
                <button type="button" class="btn btn-success" id="bekreftModalKnapp">Bekreft</button>
                <button type="button" class="btn knapp-fare" data-dismiss="modal">Avbryt</button>

            </div>
        </div>
    </div>
</div>

