
        
<header id="myCarousel" class="carousel slide">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('WebOblig1/Content/images/nettbankbildet.jpg');"></div>
            <div class="carousel-caption">
                <h2>Låne i høst?</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('WebOblig1/Content/images/nettbankbildet2.jpg');"></div>
            <div class="carousel-caption">
                <h2>Ny forsikring til bilen</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('WebOblig1/Content/images/nettbankbildet3.jpg');"></div>
            <div class="carousel-caption">
                <h2>Få kundeutbytte i dag</h2>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="page-header text-center">
            <h1>Nå må du begynne å spare</h1>
        </div>

        <p class="lead text-center">
            Ledetekst sier det lønner seg å spare.
        </p>
        <p class="text-center">
            Ifølge Verdipapirfondenes forening (VFF) har det vært en kraftig økning i antall spareavtaler i aksje- og kombinasjonsfond i første halvår 2015.

            Det ble opprettet nesten 50.000 nye avtaler om fast sparing i verdipapirfond i løpet av årets seks første måneder, og totalt har
            nordmenn nå omtrent 760.000 slike avtaler om trekk av et fast beløp fra bankkontoen hver måned, som settes i aksje- eller kombinasjonsfond, ifølge VFF.
        </p>
    </div>
</div>

<div class="divider" id="section2"></div>
<section class="bg-1">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Et lån gir bedre fritid</h2></div>
</section>

<div class="divider"></div>

<div class="container" id="section3">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1>Vi som jobber i Nettbank C#</h1>

        <p>
            For oss som jobber i Nettbank C# er det du som er viktigst.
            Kundefokus setter sitt preg alt vi jobber med hver eneste dag, og vi vil at du skal være fornøyd.
            Nettbank C# startet i 2016, som den første rene nettbanken i Norge. 
            Norsk Kundebarometer har kåret oss til banken med de mest fornøyde kundene hele 15 år på rad. 
            Vi jobber hardt for å yte god kundeservice, være brukervennlige og ikke minst ha gode priser.
        </p>

        <hr>

        <img src="http://freddielarsson.se/wp-content/uploads/2013/11/effektiv-som-ledare.png" class="img-responsive">

        <hr>
    </div><!--/col-->
</div><!--/container-->

<div class="divider"></div>

<section class="bg-3" id="section4">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px; background-color:rgba(5,5,5,.8)">Få bedre økonomi &amp; la dine penger jobbe i vår bank</h2></div>
</section>

<div class="divider" id="section5"></div>

<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>
<div id="footer">
    <div class="container">
        <p class="text-muted">Obligatorisk oppgave - Webapplikasjoner</p>
    </div>
</div>

