<div id="tekniskFeilmodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background:#5C97BF;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" style="color:white;">Opps... dette klarte vi ikke helt.</h2>
            </div>
            <div class="modal-body">
                <h3 id="litenSaldo">Vi beklager, men en feil har oppstått. Vennligst prøv igjen senere.</h3>
                <div id="tekniskFeilTekst">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>