<div id="visKontoInfoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background:#5C97BF;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="color:white;">Informasjon om din konto</h4>
            </div>
            <div class="modal-body">
                <div id="infomodal">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lukk</button>

            </div>
        </div>
    </div>
</div>


